.places {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.places h1 {
  font-size: 30px;
  width: 100%;
}
.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.places article h2 {
  font-size: 30px;
}

.places article .price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50em;
  width: 60px;
  height: 60px;
  font-size: 24px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places article .information {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.places article .information .max_guest,
.places article .information .number_rooms,
.places article .information .number_bathrooms {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.places article .information .max_guest .img {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_group.png");
}

.places article .information .number_rooms .img {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_bed.png");
}

.places article .information .number_bathrooms .img {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_bath.png");
}

.places article .user {
  width: 100%;
  padding: 10px 0;
}

.places article .description {
  width: 100%;
  padding: 10px 0;
}

.places article .amenities,
.places article .reviews {
  width: 100%;
  padding: 10px 0;
}

.places article .amenities h2,
.places article .reviews h2 {
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;
}

.places article .amenities li {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.places article .amenities li .img {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_pets.png");
}

.places article .amenities li .img2 {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_tv.png");
}

.places article .amenities li .img3 {
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon_wifi.png");
}

.places article .reviews li {
  list-style: none;
}

.places article .reviews li h3 {
  font-size: 14px;
}

.places article .reviews li p {
  font-size: 12px;
}
